body {
  background-color: #ece5da;
}

h1 {
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 100px;
}

h1 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 130px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
}

p {
  color: #47568F;
}

.container {
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #E9E0C9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation{
  /* flexboxで要素を真ん中に指定 */
  display: flex;
  width: 1300px;
  margin: 0 0 0 auto;

}
.navigation ul {
  width: 100%;
}
.button{
  display: block;
  padding:10px;
  background:#E9E0C9;
  width:20%;
  float:left;
  /* カーソルを離した際のアニメーションの速度調整 */
  transition:.2s all;
}
.button p {
  height: 10px;
  font-weight: 300;
}
.button a {
  color:#84382C;
  /* リンク指定した要素のスタイルを削除 */
  text-decoration:none;
}
.navigation:hover .button{
  /* ナビゲーションをマウスオーバーした際のアニメーションの動きを指定 */
  opacity:.5;
  /* 全てのボタンが少し小さくなる */
  transform: scale(.98);
}
.navigation:hover .button:hover{
  transition: .5s;
  /* hover時の速度調整 */
  transform:scale(1.5);
  /* hoverしたボタンのみサイズを拡大する指定 */
  opacity:1;
}
.navigation:hover .button:hover > p {
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
